:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1030; /* ensure it's above page content */
}

/* adjust this selector to match your template's element (e.g. .navbar) */
.navbar {
  margin: 0;
  width: 100%;
}

.container {
  padding: 5px 10px;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
  }

  html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }

  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }

  .separator {
    flex: 1 1 auto;
}